<div class="container">
    <iframe allowfullscreen="allowfullscreen" allow="clipboard-write" scrolling="no" class="fp-iframe" src="https://heyzine.com/flip-book/09473b58d0.html" style="width: 100%; height: 750px;"></iframe>
</div>

{% schema %}
{
    "presets": [
    {
      "name": "Custom Holiday Exclusive Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}